*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.trash-icon{
    cursor: pointer;
    color: aqua;
    padding-top: 190px;
    margin-left: 82%;
 
}
.trash-icon:hover{
    margin-right: 30px;
    cursor: pointer;
    color: red;
}

